.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px 25px;
  position: relative;
  height: 100vh;
}

.profile .acc-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.profile .avatar {
  position: relative;
  width: 88px;
  height: 88px;
  border-radius: 44px;
  box-shadow:
    0px 1px 3px #bbbbbb1a, 0px 5px 5px #bbbbbb17, 0px 12px 7px #bbbbbb0d, 0px 21px 8px #bbbbbb03, 0px 33px 9px transparent;
  background: linear-gradient(
    180deg,
    rgba(125, 125, 125, 1) 0%,
    rgba(162, 162, 162, 1) 100%
  );
}

.profile .nick-tg-ID {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
}

.profile .nick {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.profile .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  text-shadow: 0px 0px 7px #ffffff38;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(230, 230, 230, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile .element {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 5px;
  position: relative;
  flex: 0 0 auto;
  background-color: #212020;
  border-radius: 11px;
}

.profile .div {
  position: relative;
  width: 102px;
  margin-top: -1.00px;
  text-shadow: 0px 0px 11px #fffff81c;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #fffff8;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.profile .balance {
  display: flex;
  height: 82px;
  align-items: center;
  justify-content: space-between;
  padding: 19px;
  width: 100%;
  border-radius: 12px;
  background: linear-gradient(
    136deg,
    rgba(21, 20, 20, 1) 0%,
    rgba(32, 31, 31, 1) 100%
  );
  position: relative;
  align-self: stretch;
}

.profile .div-2 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.profile .text-wrapper-2 {
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #878788;
  font-size: 12px;
  letter-spacing: -0.60px;
  line-height: normal;
  position: relative;
  align-self: stretch;
}

.profile .amount-balance {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.profile .icon {
  position: relative;
  width: 25px;
  height: 23px;
}

.profile .overlap-group {
  position: relative;
  width: 23px;
  height: 26px;
}

.profile .ellipse {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  background-color: #292626;
  border-radius: 11.5px;
  box-shadow:
    0px 1px 2px #2825250d, 0px 4px 4px #2825250a, 0px 9px 6px #28252508, 0px 17px 7px #28252503, 0px 26px 7px transparent;
}

.profile .img {
  position: absolute;
  width: 21px;
  height: 23px;
  top: 3px;
  left: 1px;
}

.profile .text-wrapper-3 {
  position: absolute;
  width: 6px;
  top: 6px;
  left: 7px;
  font-weight: 600;
  color: #292626;
  font-size: 11px;
  white-space: nowrap;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.profile .div-wrapper {
  position: relative;
  width: 202px;
  height: 23px;
}

.profile .text-wrapper-4 {
  position: absolute;
  width: 202px;
  top: -1px;
  left: 0;
  text-shadow: 0px 0px 7px #ffffff38;
  font-weight: 600;
  color: #ffffff;
  font-size: 19px;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.profile .deposit-button {
  display: flex;
  width: 104px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(
      180deg,
      rgba(223, 47, 85, 1) 0%,
      rgba(158, 40, 65, 1) 100%
    ),
    linear-gradient(
      0deg,
      rgba(217, 217, 217, 1) 0%,
      rgba(217, 217, 217, 1) 100%
    );
}

.profile .text-wrapper-5 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  text-shadow: 0px 0px 7px #ffffff38;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.profile .follow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 13px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 12px;
  background: linear-gradient(
    237deg,
    rgba(224, 46, 78, 1) 0%,
    rgba(212, 38, 68, 1) 100%
  );
}

.profile .invite-banner {
  display: flex;
  flex-direction: column;
  height: 66px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0px 0px 33px #ff394980;
  background: linear-gradient(
    270deg,
    rgba(255, 64, 62, 1) 0%,
    rgba(255, 49, 86, 1) 100%
  );
}

.profile .hand {
  position: absolute;
  width: 329px;
  height: 66px;
  top: 0;
  left: 0;
}

.profile .frame {
  align-items: center;
  justify-content: center;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.profile .frame-2 {
  align-items: flex-end;
  gap: 13px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.profile .invite-icon {
  position: relative;
  width: 21.96px;
  height: 22px;
  box-shadow: 0px 0px 33px #ffffff80;
}

.profile .div-3 {
  position: relative;
  width: 22px;
  height: 22px;
}

.profile .vector {
  position: absolute;
  width: 17px;
  height: 9px;
  top: 13px;
  left: 0;
}

.profile .vector-2 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 7px;
  left: 13px;
}

.profile .vector-3 {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 0;
  left: 3px;
}

.profile .text-wrapper-6 {
  position: relative;
  flex: 1;
  text-shadow: 0px 0px 33px #ffffff80;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.64px;
  line-height: normal;
}

.profile .invite-button {
  display: flex;
  width: 72px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 33px #ffffff80;
}

.profile .text-wrapper-7 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.profile .transaction {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 13px;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: 100px;
}

.profile .frame-3 {
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.profile .text-wrapper-8 {
  position: relative;
  flex: 1;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #7e7e7f;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.profile .show-button {
  display: flex;
  width: 134px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 9px;
  position: relative;
  border-radius: 10px;
  border: 1px solid;
  border-color: #282727;
}

.profile .text-wrapper-9 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.28px;
  line-height: normal;
}

.profile .transaction-2 {
  flex-wrap: wrap;
  align-items: center;
  gap: 0px 0px;
  padding: 11px 16px;
  background-color: #171515;
  border-radius: 10px;
  border: none;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.profile .transaction-2::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 10px;
  background: linear-gradient(
    15deg,
    rgba(40, 39, 39, 1) 0%,
    rgba(61, 61, 61, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.profile .text-wrapper-10 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-weight: 500;
  color: #7e7e7f;
  font-size: 10px;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.profile .text-wrapper-11 {
  position: relative;
  align-self: stretch;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #7e7e7f;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.profile .element-2 {
  position: relative;
  width: 170px;
  height: 17px;
}

.profile .text-wrapper-12 {
  position: absolute;
  width: 170px;
  top: -1px;
  left: 0;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 14px;
  text-align: right;
  font-family: "Montserrat", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.profile .menu {
  display: flex;
  width: 402px;
  height: 80px;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  gap: 36px;
  margin-left: -15.00px;
  margin-right: -15.00px;
  background-color: #96969633;
  border-radius: 17px;
  backdrop-filter: blur(9px) brightness(100%);
  -webkit-backdrop-filter: blur(9px) brightness(100%);
}

.profile .select {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 322px;
}

.profile .main {
  display: flex;
  flex-direction: column;
  width: 34.87px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.profile .mask-group {
  position: relative;
  width: 19px;
  height: 19px;
}

.profile .text-wrapper-13 {
  position: relative;
  align-self: stretch;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffffe6;
  font-size: 14px;
  letter-spacing: -0.70px;
  line-height: normal;
}

.profile .upgrade {
  display: flex;
  flex-direction: column;
  width: 60px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
}

.profile .icon-2 {
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url(./img/vector-3.svg);
  background-size: 100% 100%;
}

.profile .text-wrapper-14 {
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffffe6;
  font-size: 14px;
  letter-spacing: -0.56px;
  line-height: normal;
  position: relative;
  align-self: stretch;
}

.profile .game {
  display: flex;
  flex-direction: column;
  width: 42px;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
}

.profile .icon-3 {
  position: relative;
  width: 28px;
  height: 29.87px;
  background-image: url(./img/vector-4.svg);
  background-size: 100% 100%;
}

.profile .text-wrapper-15 {
  height: 18.13px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffffe6;
  font-size: 14px;
  letter-spacing: -0.56px;
  line-height: normal;
  position: relative;
  align-self: stretch;
}

.profile .swap {
  display: flex;
  flex-direction: column;
  width: 38px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
}

.profile .overlap-group-wrapper {
  position: relative;
  width: 22.92px;
  height: 19.37px;
}

.profile .overlap-group-2 {
  position: relative;
  width: 23px;
  height: 19px;
}

.profile .vector-4 {
  position: absolute;
  width: 21px;
  height: 10px;
  top: 0;
  left: 2px;
}

.profile .vector-5 {
  position: absolute;
  width: 21px;
  height: 10px;
  top: 9px;
  left: 0;
}

.profile .div-4 {
  display: flex;
  flex-direction: column;
  width: 46px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
}

.profile .vector-6 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 1px;
  left: 6px;
}

.profile .vector-7 {
  position: absolute;
  width: 15px;
  height: 9px;
  top: 13px;
  left: 3px;
}
